// Importing styles
@use '../custom' as *;
#react-confirm-alert {
  .react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.4) !important;
  }
  .confirm-alert-box {
    background: $white;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 22px;
    padding: 3rem 6rem;
  }
  .confirm-alert-heading {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #000000;
    margin: 0rem 0rem 1rem 0rem;
  }
  .confirm-alert-operations {
    text-align: center;
    .confirm-button {
      background-color: $primary;
      border-radius: 60px;
      color: $white;
      margin-right: 10px;
      padding: 0.2rem 1rem;
      text-align: center;
      border: none;
    }
    .cancel-button {
      background-color: $form-field;
      border-radius: 60px;
      color: $white;
      margin-right: 10px;
      padding: 0.2rem 1rem;
      text-align: center;
      border: none;
    }
  }
}
@media only screen and (max-width: 767px) {
  .confirm-alert-box {
    padding: 1rem 4rem !important;
  }
}
